---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wealtfolio
  namespace: argocd
spec:
  project: default
  source:
    path: deployments/applications/wealtfolio
    repoURL: 'https://github.com/sevaho/atrium'
    targetRevision: HEAD
    helm:
      releaseName: wealtfolio
      valuesObject:
        example:
          nameOverride: wealtfolio
          replicaCount: 1

          env:
            WF_DB_PATH: "/data/wealthfolio.db"
            WF_SECRET_KEY: ${WF_SECRET_KEY}
            WF_AUTH_PASSWORD_HASH: ${WF_AUTH_PASSWORD_HASH}
            WF_CORS_ALLOW_ORIGINS: "*"
            WF_LISTEN_ADDR: "0.0.0.0:8080"

          image:
            repository: ${HARBOR_HOST}/dockercache/afadil/wealthfolio
            tag: latest

          imagePullSecrets: [regcred]

          service:
            type: ClusterIP
            port: 80
            targetPort: 8080

          pvc:
            enabled: true
            name: data
            size: 10Gi
            mountPath: /data

  destination:
    server: "https://kubernetes.default.svc"
    namespace: applications
  syncPolicy:
    automated:
      prune: false
      selfHeal: false

  info:
  - name: releasenotes
    value: https://github.com/afadil/wealthfolio/releases
  - name: configuration
    value: https://wealthfolio.app/docs/guide/self-hosting/
