---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sevaho/atrium
    path: deployments/cert-manager/cert-manager
    targetRevision: HEAD
    helm:
      releaseName: cert-manager
      valuesObject:
        cert-manager:
          crds:
            enabled: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  info:
  - name: releasenotes
    value: https://github.com/cert-manager/cert-manager/releases
  - name: values.yaml
    value: https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: sebastiaan@sevaho.io
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - dns01:
        digitalocean:
          tokenSecretRef:
            name: digitalocean-dns
            key: DO_TOKEN
      selector:
        dnsZones:
          - "${CERT_MANAGER_DNS_ZONE_1}"
          - "*.${CERT_MANAGER_DNS_ZONE_1}"
          - "${CERT_MANAGER_DNS_ZONE_2}"
          - "*.${CERT_MANAGER_DNS_ZONE_2}"
          - "${CERT_MANAGER_DNS_ZONE_3}"
          - "*.${CERT_MANAGER_DNS_ZONE_3}"
---
apiVersion: v1
data:
  DO_TOKEN: ${DO_TOKEN::BASE64}
kind: Secret
metadata:
  name: digitalocean-dns
  namespace: cert-manager
type: Opaque
