---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coroot-ce
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sevaho/atrium
    path: deployments/observability/coroot
    targetRevision: HEAD
    helm:
      releaseName: coroot-ce
      valuesObject: {}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
  info:
  - name: releasenotes
    value: https://github.com/coroot/coroot/releases
  - name: values.yaml
    value: https://github.com/coroot/helm-charts/blob/main/charts/coroot/values.yaml
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coroot-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sevaho/atrium
    path: deployments/observability/coroot
    targetRevision: HEAD
    helm:
      releaseName: coroot-operator
      valuesObject: {}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
  info:
  - name: releasenotes
    value: https://github.com/coroot/coroot/releases
  - name: values.yaml
    value: https://github.com/coroot/helm-charts/blob/main/charts/coroot/values.yaml
