---
fullnameOverride: goforms
image:
  repository: cr.asic.li/dockercache/sevaho/goforms
  tag: latest

imagePullSecrets: [regcred]

args:
  - --serve

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

replicaCount: 1

extraAnnotations:
  reloader.stakater.com/auto: "true"

ingress:
  enabled: true
  hosts:
    - forms.asic.li
    - goforms.asic.li
    - goforms.dev
  tls:
    secretName: goforms-certs

envFrom:
  - secretRef:
      name: goforms-data-secret

jobs:
  autoMigrate:
    enabled: true
    args:
      - --migrate
    envFrom:
      - secretRef:
          name: goforms-data-secret
